# pip3 install --no-cache-dir --upgrade https://download.pytorch.org/whl/cu113/torch-1.12.1%2Bcu113-cp38-cp38-linux_x86_64.whl https://download.pytorch.org/whl/cu113/torchvision-0.13.1%2Bcu113-cp38-cp38-linux_x86_64.whl
# spconv-cu113
easydict
einops
geopandas
networkx
numpy==1.23.5
open3d
pyproj
pyquaternion
seaborn
shapely==2.0.1
simplejson
tabulate
tensorboardX
torch-scatter
triton
werkzeug<3.0
yapf==0.40.1
mmcv-full==1.6.0
mmdet==2.24.0
mmsegmentation==0.25.0
git+https://github.com/bochennn/pypcd.git
git+https://github.com/open-mmlab/mmdetection3d.git@v1.0.0rc6#egg=mmdet3d